:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #000000cc;
    --primary: #EE4D2D;
    --border-color: #ccc;
    
    --header-height: 120px;
    --top-nav-height: 35px;
    --header-with-search-height: calc(var(--header-height) - var(--top-nav-height));

    --top-tooltip: calc(100% + 4px);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Global tags */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }
}


/* Global classes */
    /* Button */
    .btn {
        --height: 40px;

        display: block;
        height: var(--height);
        line-height: calc(var(--height) + 1px);
        min-width: 120px;

        font-size: 1.5rem;
        text-align: center;

        border: none;
        border-radius: 2px;

        background-color: transparent;
        color: var(--text-color);

        cursor: pointer;
        
    }

    .btn.btn--width-full {
        width: 100%;
    }

    .btn.btn--primary {
        background-color: var(--primary);
        color: var(--white-color);
    }

    .btn.btn--primary:hover {
        opacity: 0.9;
    }

    .btn.btn--normal:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    .btn.btn--second {
        --height: 38px;
        background-color: rgb(98 98 215);
        color: var(--white-color);
    }

    .btn--border {
        border: 1px solid var(--border-color);
    }

    .btn--disabled {
        background-color: #e1e1e1;
        color: var(--white-color);
        cursor: default;
    }