.app {
    overflow: hidden;
}
/* ----------------- HEADER ----------------- */
.header {
    height: var(--header-height);
    background-image: linear-gradient(#F53E2D, #FF6533);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.top-nav {
    
}

/* NAVIGATION */
.navbar,
.navbar__list {
    display: flex;
    justify-content: space-between;
    height: var(--top-nav-height);
}

.navbar__list {
}

.navbar__item {
    padding: 0px 10px;
    position: relative;

    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.navbar__item--separate::before {
    content: "";
    height: 14px;
    width: 1px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
    
    background-color: rgba(255, 255, 255, 0.384);
}

.navbar__item--has-qr-code,
.navbar__item--has-notification,
.navbar__item--has-language,
.navbar__item--has-account-dropdown {
    position: relative;
}

.navbar__item,
.navbar__link,
.navbar__icon--link {
    color: var(--white-color);
}

.navbar__item:hover,
.navbar__link:hover,
.navbar__icon--link:hover {
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__icon--link {
    margin-left: 9px;
}

.navbar__title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.navbar__icon {
    font-size: 1.7rem;
}


.navbar__icon--pull-left {
    position: relative;
    left: -4px;
}

.navbar__icon--pull-right {
    position: relative;
    right: -4px;
}


/* QR CODE */
.navbar-code {
    position: absolute;
    top: var(--top-tooltip);
    width: 184px;

    border: 1px solid #eeeeee;
    border-radius: 3px;
    background-color: var(--white-color);

    display: none;
    animation: fadeIn linear 200ms;
    z-index: 10;
}

.navbar-notification::after,
.navbar-language::after,
.navbar-code::before {
    content: "";
    
    position: absolute;
    top: -10px;
    right: 0;

    height: 15px;
    background-color: transparent;
}

.navbar-code::before {
    width: 100%;
}

.navbar__item--has-qr-code:hover .navbar-code {
    display: block;
}

.navbar-code__img-qr {
    width: 100%;
}

.navbar-code__apps-qr {
    padding: 5px 11px 11px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-code__img-app {
    width: 46%;
    object-fit: contain;
}

.navbar-code__img-app:last-child {
    margin-top: 10px;
}

/* NAVBAR - NOTIFICATION */
.navbar-notification {
    --right-before-pseudo: 10; 
    position: absolute;
    top: var(--top-tooltip);
    right: 10px;

    width: 400px;
    min-height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #eeeeee;
    border-radius: 3px;

    background-color: var(--white-color);
    color: var(--text-color);

    transform-origin: calc(100% - var(--right-before-pseudo) * 2px) top;
}

.navbar-notification,
.navbar-language,
.cart-wrap,
.account-dropdown {
    transform: scale(0);
    opacity: 0;
    transition: all linear 250ms;
    z-index: 10;
}

.navbar__item--has-notification:hover .navbar-notification,
.navbar__item--has-language:hover .navbar-language,
.header-cart-inner:hover .cart-wrap,
.navbar__item--has-account-dropdown:hover .account-dropdown {
    opacity: 1;
    transform: scale(1);
    -webkit-tap-highlight-color: transparent;
}

.navbar-language::before,
.navbar-notification::before,
.cart-wrap::before,
.account-dropdown::before {
    content: "";

    position: absolute;
    top: -25px;

    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;

    cursor: pointer;
    z-index: -1;
}

.navbar-notification::before {
    right: calc(var(--right-before-pseudo) * 1px);
}

.navbar-notification::after,
.navbar-language::after {
    width: 90px;
}

/* WITHOUT NOTIFY */
.no-notify {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.no-notify__img-wrapper {
    flex: 1;
    flex-direction: column;
    cursor: default;
}

.no-notify__img-wrapper,
.no-notify__btns-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-notify__img {
    width: 100px;
    object-fit: contain;
}

.no-notify__label {
    margin-top: 25px;
}

.no-notify__btns-list {

}

.no-notify__btn {
    font-size: 1.5rem;
    text-align: center;

    width: 50%;
    padding: 10px 0px;

    background-color: rgb(236, 236, 236, 0.5);

    cursor: pointer;

}   

.no-notify__btn:hover {

    background-color: rgb(236, 236, 236, 1);
    color: var(--primary);
}

/* WITH NOTIFY */

.notify {

}

.notify-header {
    cursor: default;
}

.notify-header__title {
    font-size: 1.4rem;
    padding: 12px 0px;
    margin-left: 10px;
    color: #ccc;
}

.notify__list {

}

.notify__item {
    background-color: rgba(245, 62, 45, 0.07);
}

.notify__item--viewed {
    background-color: #fff;
}

.notify__item:hover,
.notify-footer:hover {
    background-color: rgba(0, 0, 0, 0.025);
}
.notify__link {
    display: flex;
    padding: 10px 10px;
}

.notify__img {
    width: 30px;
    object-fit: contain;
}

.notify__info {
    flex: 1;
    margin-left: 10px;
}

.notify__name {
    font-size: 1.4rem;
    color: var(--text-color);
}

.notify__name,
.notify__desc {
    display: block;
}


.notify__desc {
    font-size: 1.2rem;
    color: #6d6d6d;
    margin-top: 5px;
}

.notify-footer {

}

.notify-footer__link {
    font-size: 1.5rem;
    text-align: center;
    color: #6d6d6d;

    padding: 10px 0px;
    display: block;
}

/* LANGUAGES */
.navbar-language {
    --right-before-pseudo: 25;
    position: absolute;
    top: var(--top-tooltip);
    right: 0px;

    min-width: 200px;
    border: 1px solid #eeeeee;
    border-radius: 3px;

    background-color: var(--white-color);
    color: var(--text-color);

    transform-origin: calc(100% - var(--right-before-pseudo) * 2px) top;
}

.navbar-language::before {
    right: calc(var(--right-before-pseudo) * 1px);
}

.navbar-language::after {

}
.navbar-language__text {
    padding: 10px 10px;
    display: block;
}

.navbar-language__text:hover {
    color: var(--primary);
}

/* User account */
.navbar__avatar-img {
    --height: 22px;
    height: var(--height);
    width: var(--height);

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.navbar__user-name {
    margin-left: 4px;
}


.account-dropdown {
    --right-pseudo-before: 25px;
    position: absolute;
    top: var(--top-tooltip);
    right: 0;
    z-index: 5;

    background-color: var(--white-color);
    width: 160px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

    transform-origin: calc(100% - var(--right-pseudo-before) * 2) top;
}

.account-dropdown::before {
    right: var(--right-pseudo-before);
}

.account-dropdown__menu {

}

.account-dropdown__item {
}

.account-dropdown__item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.account-dropdown__item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.account-dropdown__link:hover {
    color: #1fcf9a;
    background-color: rgba(0, 0, 0, 0.02);
}

.account-dropdown__link {
    display: block;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: var(--text-color);
}


/* HEADER WITH SEARCH */
.mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.mobile-sidebar-checkbox:checked ~ .mobile-sidebar {
    display: block;
}

.mobile-sidebar__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: fadeIn linear 200ms;
}

.mobile-user-account {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 230px;
    background-color: var(--white-color);
    padding: 20px 0px;

    transform: translateX(0%);
    animation: showSidebar linear 200ms;
    z-index: 1;
}

@keyframes  showSidebar {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.mobile-user-account__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    font-size: 2.8rem;
    color: rgb(82, 82, 82);
}


.mobile-user-account__label {
    font-size: 1.8rem;
    color: #b3b3b3;
    display: block;
    margin: 0px 15px 15px;
}

.mobile-user-account__avatar {
    --height: 60px;
    width: var(--height);
    height: var(--height);
    border-radius: 50%;
    margin: 0px 15px 15px;
}

.mobile-user-account__name {
    font-size: 1.8rem;
    margin: 0px 15px 10px;
}

.mobile-user-account__list {

}

.mobile-user-account__item {
    padding: 15px 15px;

}

.mobile-user-account__link {
    font-size: 1.6rem;
    color: var(--text-color);
    display: flex;
    align-items: center;

}

.mobile-user-account__icon {
    --height: 20px;
    width: var(--height);
    height: var(--height);
    border-radius: 50%;
    margin-top: -2px;
    margin-right: 10px;
}


.header-with-search {
}


.header-with-search-inner {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
}
.header-mobile-control {
    display: none;
}

.mobile-menu-bar {
    padding: 0px 15px 0px 10px;
    display: inline-block;
}

.mobile-menu-bar__icon,
.mobile-search-mobile__icon {
    font-size: 2.2rem;
    color: var(--white-color);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header-search-mobile {
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.header-search-mobile__icon {
}


.header-logo {
    width: 200px;
}

.header-logo__link {
    width: 150px;
    display: block;
    line-height: 0;
    -webkit-tap-highlight-color: transparent;
}


.header-search {
    flex: 1;
}

/* search-bar */
.mobile-search-checkbox:checked ~ .header-search {
    display: block;
}
.search-bar {
    --height: 34px;
    display: flex;
    padding: 3px 3px;
    border-radius: 2px;
    background-color: var(--white-color);

}

.search-bar__top {
    flex: 1;
    position: relative;
}

.search-bar__input {

    font-size: 1.5rem;
    color: var(--text-color);

    outline: none;
    padding: 0 15px;
    width: 100%;
    border: none;
    line-height: var(--height);
}

.search-bar__input::placeholder {
    color: #ccc;
}


.search-bar .btn {
    --height: var(--height);
    min-width: 60px;
}

/* search bar select */
.search-bar-select {
    display: flex;
    align-items: center;

    padding: 0px 10px;
    position: relative;
    cursor: pointer;
}

.search-bar-select:hover .search-bar-select__options {
    display: block;
}

.search-bar-select::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    height: calc(100% - 10px);
    width: 2px;
    background-color: #ebebeb;
    transform: translateY(-50%);

}

.search-bar-select__label,
.search-bar-select__option-item {
    font-size: 1.5rem;
    color: var(--text-color);
}

.search-bar-select__arrow-down {
    font-size: 1.6rem;
    color: #6b6b6b;
    margin-left: 7px;
}

.search-bar-select__options,
.search-bar-history {
    
    background-color: var(--white-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.search-bar-select__options {
    position: absolute;
    top: calc(100% + 7px);
    right: 0;

    z-index: 2;
    display: none;
}



.search-bar-select__options::before {
    content: "";
    position: absolute;
    top: -10px;

    width: 100%;
    height: 15px;
    background-color: transparent;
}

.search-bar-select__option-item {
    padding: 10px 15px;
    min-width: 140px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-bar-select__option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.search-bar-select__option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.search-bar-select__option-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.search-bar-select__option-item--selected {
    color: var(--primary);
}

/* search history */
.search-bar-history {
    position: absolute;
    top: calc(100% + 7px);
    left: -3px;
    width: calc(100% - 20px);

    display: none;
    z-index: 2;
}

.search-bar__input:focus ~ .search-bar-history {
    display: block;
}

.search-bar-history__heading {
    display: block;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ccc;

}

.search-bar-history__list {

}

.search-bar-history__item {
    font-size: 1.4rem;
    
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.search-bar-history__item:hover {
    background-color: rgb(236, 236, 236, 0.5);
}

.search-bar-history__item:hover .search-bar-history__icon {
    display: block;
}

.search-bar-history__item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-bar-history__link {
    flex: 1;
}

.search-bar-history__link,
.search-bar-history__icon {
    color: var(--text-color);
}

.search-bar-history__icon {
    display: none;
    padding: 0px 10px;
    cursor: pointer;
}

.search-bar-history__icon:hover {
    color: #ff7474;
}

.search-suggest {
    position: relative;
    top: 7px;
}

.search-suggest__list {
    display: flex;
    margin-left: -10px;
}

.search-suggest__item {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);

    padding: 0px 10px;
    cursor: pointer;
}


/* header card */

.header-cart {
    width: 140px;
    text-align: center;
    display: flex;
}

.header-cart-inner {
    margin: auto;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.header-cart__button {
    position: relative;
    cursor: pointer;
}

.header-cart__icon {
    font-size: 2.2rem;
    color: var(--white-color);
    padding: 5px 10px;
}

.header-cart__subtotal {
    font-size: 1.2rem;
    line-height: 1.2rem;

    position: absolute;
    top: -10px;
    left: 60%;

    padding: 2px 6px;
    border: 2px solid #E1492B;
    border-radius: 10px;

    background-color: var(--white-color);
    color: var(--primary);
}

.cart-wrap {
    position: absolute;
    top: var(--top-tooltip);
    right: -7px;

    background-color: var(--white-color);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

    border: 1px solid #dddddd;
    border-radius: 3px;
    transform-origin: calc(100% - 30px) top;

} 

.cart-wrap::before {
    right: 7px;
}

.cart-wrap::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;

    height: 25px;
    width: 80px;
    
    background-color: transparent;
}
.cart {
    width: 400px;
}

.cart.cart--no-product {
    display: flex;
}

.cart.cart--no-product .cart-with-no-product {
    display: block;
}

.cart.cart--no-product .cart-with-has-product {
    display: none;
}

.cart-with-no-product {
    margin: auto;
}

.cart-with-no-product {
    display: none;
}

.cart__img {
    width: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.cart__label {
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
}

.cart__heading {
    font-size: 1.6rem;
    text-align: left;
    color: #ccc;

    padding: 15px 10px;
    display: block;

}

.cart-body {
    max-height: 45vh;
    overflow-y: auto;
}

.cart-product {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.cart-product:hover {
    background-color: rgba(0, 0, 0, 0.02);
}


.cart-product__img {
    width: 40px;
    object-fit: contain;
    border: 1px solid #dbdbdb;
}

.cart-product__info {
    flex: 1;
    margin-left: 10px;
}

.cart-product__header,
.cart-product__body {
    display: flex;
    justify-content: space-between;
}

.cart-product__body {
    margin-top: 5px;
}

.cart-product__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 2rem;
    text-align: left;

    max-height: 4rem;
    padding-right: 10px;

    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex: 1;

}

.cart-product__price-wrap {
    
}

.cart-product__price {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
}

.cart-product__multiply {
    margin: 0px 5px;
}
.cart-product__multiply,
.cart-product__quanlity {
    font-size: 1.2rem;
    color: #bbb;
}

.cart-product__quanlity {
}

.cart-product__body {
}

.cart-product__classify-text {
    font-size: 1.2rem;
    color: #bbb;
}

.cart-product__delete-btn {
    font-size: 1.3rem;
    color: var(--text-color);
    cursor: pointer;
}

.cart-product__delete-btn:hover {
    color: var(--primary);
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.01);
}

.cart-footer__text {
    font-size: 1.4rem;
    color: var(--text-color);
}

/* CONTAINER */
.container {
    background-color: #F5F5F5;
    padding: 50px 0px;
    margin-top: calc(var(--header-height) + var(--sort-bar-height));
}
/* category */
.category {
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    
    padding: 20px 0px;
    border-bottom: 1px solid #E9E9E9;
}

.category__heading-icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

.category-list {
    margin-top: 10px;
}

.category-item {
}

.category-item--active .category-item__link {
    color: var(--primary);

}

.category-item--active {
    position: relative;
}

.category-item--active::before {
    content:"";
    position: absolute;
    top: 50%;
    
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary);

    transform: translateY(-50%);
}

.category-item__link {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 10px 10px;
    display: block;
}

.category-item__arrow-down {
    font-size: 1.3rem;
    margin-left: 5px;
    color: #707070;
}

/* sort bar */
.header-sort-bar__list {
    background-color: var(--white-color);
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    display: flex;
    height: var(--sort-bar-height);
    display: none;
}

.header-sort-bar__item {
    flex: 1;
}

.header-sort-bar__item--active .header-sort-bar__link {
    color: var(--primary);
}

.header-sort-bar__link {
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
    line-height: var(--sort-bar-height);
    display: block;
    position: relative;
}

.header-sort-bar__link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    height: 60%;
    width: 1px;
    background-color: #e6e6e6;

    transform: translateY(-50%);
}

.header-sort-bar__item:last-child .header-sort-bar__link::before {
    display: none;
}
/* Main */
.main {
}

/* sort bar */
.sort-bar {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    padding: 13px 20px;
}

.sort-bar__label {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 15px;
}

.sort-bar .btn {
    margin-right: 10px;
}

.sort-bar-select {    
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 34px;
    width: 200px;
    padding: 0 10px;
    border-radius: 2px;

    background-color: var(--white-color);
    position: relative;
    cursor: pointer;

    font-size: 1.4rem;
    color: var(--text-color);
}

.sort-bar-select:hover .sort-bar-select-options {
    display: block;
}

.sort-bar-select-inner {
    
}

.sort-bar-select:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.sort-bar-select__label {

}

.sort-bar-select__down-arrow {

}

.sort-bar-select-options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0px;
    width: 100%;

    background-color: var(--white-color);

    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
    animation: fadeIn linear 150ms;
    display: none;
    z-index: 1;
}

.sort-bar-select-option__item {
    padding: 15px 10px;
    display: block;
}

.sort-bar-select-option__item:hover {
    color: var(--primary);
}


.sort-bar-pagination {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.sort-bar-pagination__number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 20px;
}

.sort-bar-pagination__current-page {
    color: var(--primary);
    font-weight: 600;
}

.sort-bar-pagination-controls {
    border-radius: 2px;
    overflow: hidden;
}

.sort-bar-pagination-control__btn {
    --height: 34px;
    height: var(--height);
    width: var(--height);
    display: inline-block;

    line-height: var(--height);
    text-align: center;
    
    color: var(--text-color);
    background-color: var(--white-color);

    cursor: pointer;
    
}

.sort-bar-pagination-control__btn:hover {
    opacity: 0.9;
}

.sort-bar-pagination-control__btn--end {
    opacity: 0.5!important;
    cursor: default;
}

.sort-bar-pagination-control__btn {

}

/* Mobile category */
.mobile-category {
    margin-bottom: 10px;
    display: none;
}

.mobile-category__list {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 4px;
}

.mobile-category__item:first-child {
    margin-left: 0px;
}

.mobile-category__item:last-child {
    margin-right: 0px;
}


.mobile-category__item:nth-last-of-type(3n + 3) .mobile-category__link {
    background-color: #9f9fe7;
}

.mobile-category__item:nth-last-of-type(3n + 2) .mobile-category__link {
    background-color: #64e46b;
}

.mobile-category__item:nth-last-of-type(3n + 1) .mobile-category__link {
    background-color: #fa9ede;
}

.mobile-category__link {
    --height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: var(--height);
    color: var(--white-color);

    padding: 0px 10px;
    max-width: 140px;
    height: calc(var(--height) * 2);
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;

    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}



/* Filter Product */
.home-products {
    margin-top: 10px;
   
}

.home-product-link {
    -webkit-tap-highlight-color: transparent;
}

.home-product-item {
    transition: all linear 150ms;
    transform: translateY(0px);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
    background-color: var(--white-color);
    border-radius: 3px;
    margin-bottom: 10px;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.07);
}

.home-product-item__product-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.home-product-item__favorite-label {
    position: absolute;
    top: 10px;
    left: -4px;

    background-color: currentColor;
    color: var(--primary);
    font-size: 1.2rem;
    padding: 1px 5px;
}

.home-product-item__favorite-label::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    border-top: 3px solid currentColor;
    border-left: 3px solid rgba(0, 0, 0, 0);
    filter: brightness(60%);
}

.home-product-item__favorite-label span {
    color: var(--white-color);
}

.home-product-item-sale-off-label {
    position: absolute;
    top: 0;
    right: 0;

    color: rgba(246, 206, 48, 0.85);
    background-color: currentColor;

    font-size: 1.2rem;
    text-transform: uppercase;

    width: 36px;
    padding: 2px 1px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-top-right-radius: 3px;
}

.home-product-item-sale-off-label::before {
    content: "";
    position: absolute;
    top: 100%;
   
    border-style: solid;
    border-width: 0px 18px 5px;
    border-color: #ff000000 currentColor #66339900;
}

.home-product-item-sale-off-label__percent {
    color: var(--primary);
    display: block;
}

.home-product-item-sale-off-label__text {
    color: var(--white-color);
}

.home-product-item__img-event {
    
}

.home-product-item-content {
    padding: 8px 8px;
}

.home-product-item__desc {
    font-size: 1.2rem;
    color: var(--text-color);
    
    height: 32px;

    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.home-product-item-offers {
    font-size: 1rem;
    margin-top: 5px;
}

.home-product-item-offers__price {
    background-color: #F69113;
    color: var(--white-color);
    padding: 2px 2px;
}
.home-product-item-offers__percent {
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 1px 5px;
    margin-left: 4px;
}

.home-product-item-offers__unit {
    text-decoration: underline;
}

.home-product-item-price {
    font-size: 1.6rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    margin: 10px 0px 15px;
}

.home-product-item-price__unit {
    font-size: 0.9rem;
    margin-right: 2px;
    text-decoration: underline;
}

.home-product-item-price__dash-sign {
    margin: 0 3px;
}
.home-product-item-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.home-product-item-rating__icon {
    color: #FFCE3D;
    transform: scale(0.9);
    transform-origin: left;
}

.home-product-item-rating__label {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 7px;
}

.home-product-item__origin {
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Pagination */
.home-pagination {
    padding: 40px 0px 0px;
}

.home-pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-pagination__item {

}

.home-pagination__item--active .home-pagination__link {
    background-color: var(--primary);
    color: var(--white-color);
}

.home-pagination__arrow-icon,
.home-pagination__link {
    --height: 30px;
    height: var(--height);
    min-width: 50px;
    display: block;
    border-radius: 3px;
    margin: 0px 10px;

    line-height: var(--height);
    font-size: 2rem;
    text-align: center;
    color: #a1a1a1;
}

.home-pagination__item {

}

.home-pagination__link {

}

.home-pagination__arrow-icon {
    cursor: pointer;
}


/* FOOTER */
.footer {
    border-top: 4px solid var(--primary);
}

.footer-top {
    min-height: 300px;
    background-color: var(--white-color);
    padding: 40px 0px 40px;
}

.footer__content {
}

h3.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 15px;

}

h4.footer__heading {
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 25px;
}

.footer__desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #000;
}

.footer__text-underscore {
    text-decoration: underline;
}

h5.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 30px;
}

.footer__desc {

}

.footer__link-home-page {
    text-decoration: underline;
    font-weight: 600;
    color: rgb(112, 112, 112);
}

.footer__more-button {
    font-size: 1.3rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    margin: 30px 0px 30px;
    cursor: pointer;
}

.footer__more-button-icon {
    margin-left: 10px;
    font-size: 1.6rem;
}

.footer__separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin: 40px 0px;
}

h6.footer__heading {
}



.footer-categories {

}

.footer-category__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 10px;
}

.footer-categories__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
}

.footer-category__item {
    padding:  0 5px;
    position: relative;
}

.footer-category__item::before {
    content: "";
    position: absolute;
    top: 50%;

    width: 1px;
    background-color: rgba(0, 0, 0, 0.25);

    transform: translateY(-50%);
}

.footer-category__item::before {
    right: -1px;
    height: 11px;
}


.footer-category__item:last-child::before {
    display: none;
}

.footer-category__link,
.footer__link,
.footer-social__link {
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--text-color);
}

.footer-category__link:hover {
    color: var(--primary);
}


.footer-body {
    min-height: 200px;
    background-color: #FBFBFB;
    padding: 40px 0px;
}

.footer__list,
.footer-social__list,
.footer-download {
    margin-top: 10px;
}
.footer__link {
    padding: 5px 0px;
    display: block;
}

.footer-social__link {
    padding: 6px 0px;
    display: flex;
    align-items: center;
}

.footer-social__link-icon {
    color: #000;
    font-size: 1.6rem;
    margin: -1px 10px 0px 0px;
}

.footer-download {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-download__qr-img {
    --height: 86px;
    width: var(--height);
    height: var(--height);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.footer-download-apps {
    margin-left: 15px;
}

.footer-download-app__img {
    height: 17px;
    margin: 2px 0px;
    display: block;
}

.footer-copyright {
   
}

.footer-copyright__text {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2rem;
    text-align: center;
    display: block;
    padding: 0 10px;
}

/* MODAL */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

.modal.modal--disabled {
    display: none;
}

.modal__overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    animation: fadeIn linear 200ms;
}


.modal__inner {
    --grow-from: 0.7;
    --grow-to: 1;
    margin: auto;
    z-index: 2;
    animation: growth linear 150ms;
}

/* FORM AUTHENTICATION */
.auth-form-wrapper {
}

.auth-form-wrapper.auth-form--register #register-form {
    display: block;
}

.auth-form-wrapper.auth-form--login #login-form {
    display: block;
}

.auth-form {
    position: relative;
    background-color: var(--white-color);

    width: 400px;
    padding: 30px 30px;
    border-radius: 3px;
    display: none;
}

.auth-form__heading {
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.auth-form__body {
}

.auth-form__group + .auth-form__group {
    margin-top: 10px;
}


.auth-form__input {
    width: 100%;
    height: 38px;
    padding: 0 15px;

    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;

    font-size: 1.6rem;
}

.auth-form__input::placeholder {
    color: #ccc;
}

.auth-form__input:focus {
    border-color: #000;
}

.auth-form__control {
    margin-top: 40px;
}

.auth-form__separate {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;

    color: #ccc;
    display: block;
    margin: 27px 0px;

    position: relative;
}

.auth-form__separate::before,
.auth-form__separate::after {
    content: "";
    position: absolute;
    top: 50%;

    width: 40%;
    height: 1px;
    background-color: #ccc;
}

.auth-form__separate::before {
    left: 0;
}

.auth-form__separate::after {
    right: 0;
}

.auth-form-help {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.auth-form-help__text {
    font-size: 1.2rem;
    color: #0055AA;
}

.auth-form-term {
    margin: 30px 0px 0px 0px;
    text-align: center;
    padding: 0 30px;
}

.auth-form-term__text {
    font-size: 1.2rem;
    color: var(--text-color);
}

.auth-form-term__link-text {
    color: var(--primary);
}

.auth-form__text {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.auth-form__text.auth-form__text--second {
    color: #ccc;
}

.auth-form__text--switch-btn {
    color: var(--primary);
    cursor: pointer;
}

.auth-form-social__icon {
    font-size: 2rem;
    margin-right: 10px;
}

.auth-form__footer {
    margin-top: 35px;
}

.auth-form__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    font-size: 3rem;
    color: var(--text-color);

    cursor: pointer;
}
