/* Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(#F53E2D, #FF6533);
}

.top-nav {

}

.navbar,
.navbar__list {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    margin: 10px 0px;
}

.navbar__item {
    padding: 0px 10px;
    position: relative;

    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.navbar__item--separate::before {
    content: "";
    height: 14px;
    width: 1px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
    
    background-color: rgba(255, 255, 255, 0.384);
}

.navbar__item--has-qr-code {
    position: relative;
}

.navbar__item,
.navbar__link,
.navbar__icon--link {
    color: var(--white-color);
}

.navbar__item:hover,
.navbar__link:hover,
.navbar__icon--link:hover {
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}


.navbar__title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.navbar__icon {
    font-size: 1.7rem;
}

.navbar__icon--pull-left {
    position: relative;
    left: -4px;
}

.navbar__icon--pull-right {
    position: relative;
    right: -4px;
}

.navbar__icon--margin-left-5 {
    margin-left: 5px;
}

/* Header QR code */
.navbar-code {
    position: absolute;
    top: calc(100% + 10px);
    width: 184px;

    border: 1px solid #eeeeee;
    border-radius: 3px;
    background-color: var(--white-color);

    display: none;
    opacity: 0;

    transition: all linear 200ms;
}

.navbar-code::before {
    content: "";
    
    position: absolute;
    left: 0px;
    --top: 12;
    top: calc(var(--top) * -1px);
    height: calc(var(--top) * 1px);
    width: 100%;

    background-color: transparent;
}

.navbar__item--has-qr-code:hover .navbar-code {
    opacity: 1;
    display: block;
}

.navbar-code__img-qr {
    width: 100%;
}

.navbar-code__apps-qr {
    padding: 5px 11px 11px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-code__img-app {
    width: 46%;
    object-fit: contain;
}

.navbar-code__img-app:last-child {
    margin-top: 10px;
}
